.skills-extension div{
  margin: auto auto 20px;

}

.skills-extension .select-all{
  text-align: center;
  width: 140px;
}

.skills-extension .custom-checkbox{
  width: 100px;
}

.skills-extension label{



}

.custom-control{
  transform: scale(1.3);
}




