<div class="skills-extension" >
  <div class="select-all">
    <label class="switch">
      <input (click)="selectSwitch()" type="checkbox">
      <span class="slider round"></span>
    </label>
    <label>{{selectSwitchLabel}}</label>
  </div>
  <div *ngFor="let skillExtension of skillsExtension">
    <div class="custom-control custom-checkbox">
      <input (change)="selectSkill(skillCheck)" type="checkbox" class="custom-control-input" id="{{skillExtension.name}}" [checked]="skillExtension.checked || allSkillSelected" #skillCheck>
      <label class="custom-control-label" for="{{skillExtension.name}}">{{skillExtension.name}}</label>
    </div>
  </div>
  <div class="btn-extension">
    <button (click)="loadSkills()" type="button" class="btn btn-primary btn-md">Load</button>
  </div>
</div>
