<div class="skills-extension" >
  <div class="select-all">
    <label class="switch">
      <input (click)="selectSwitch()" type="checkbox">
      <span class="slider round"></span>
    </label>
    <label>{{selectSwitchLabel}}</label>
  </div>
  <div *ngFor="let skill of skills">
    <div class="custom-control custom-checkbox">
      <input (click)="selectSkill(skillCheck)" type="checkbox" class="custom-control-input" id="{{skill.name}}" [checked]="allSkillSelected" #skillCheck>
      <label class="custom-control-label" for="{{skill.name}}">{{skill.name}}</label>
    </div>
  </div>
</div>
