<div class="skills-extension" >
  <div class="select-all">
    <label class="switch">
      <input (click)="selectSwitch()" type="checkbox">
      <span class="slider round"></span>
    </label>
    <label>{{selectSwitchLabel}}</label>
  </div>
  <div *ngFor="let skillExtension of sortSkills()">
    <app-skill-extension [skillCheck]="skillExtension.checked"
                         [skillColor]="skillExtension.skill.color"
                         [skillName]="skillExtension.skill.name"
                         (skillSelected)="onSkillSelected($event, skillExtension)" >
    </app-skill-extension>
  </div>
  <div class="btn-extension">
    <button (click)="loadSkills()" type="button" class="btn btn-primary btn-md">Load</button>
  </div>
</div>
