.skills-extension div{
  margin: auto auto 20px;

}

.skills-extension .select-all{
  width: 200px;
}

.skills-extension .custom-checkbox{
  width: 100px;
}

.select-all label{
  vertical-align: middle;
  margin: 8px;
}

.custom-control{
  transform: scale(1.3);
}




