.skills-extension .ng-star-inserted{
  margin: auto auto 12px;
  width: 100px;

}

.skills-extension .select-all{
  margin: auto auto 20px;
  width: 200px;
}

.skills-extension .btn-extension {
  margin-top: 30px;
  text-align: center;
}


.select-all label{
  vertical-align: middle;
  margin: 8px;
}






