<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color-dark">

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active col">
        <a class="nav-link waves-light" routerLink="/home" mdbWavesEffect>Home
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item col">
        <a class="nav-link waves-light" routerLink="/formation" mdbWavesEffect>Formation
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown col" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>Projects<span class="caret"></span></a>

        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a routerLink="projects-professional" class="dropdown-item waves-light" mdbWavesEffect>Professional</a>
          <a routerLink="/projects-personal" class="dropdown-item waves-light" mdbWavesEffect>Personal</a>
        </div>

      </li>
      <li class="nav-item dropdown col" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>Skills<span class="caret"></span></a>

        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a  routerLink="/skills-overview" class="dropdown-item waves-light" mdbWavesEffect>Overview</a>
          <a [routerLink]="['/skills-comparing', {outlets: {extension: ['skills-comparing-extension']}}]" class="dropdown-item waves-light" mdbWavesEffect>Comparing</a>
        </div>

      </li>
      <li class="nav-item col">
        <a class="nav-link waves-light" routerLink="/contact" mdbWavesEffect>Contact</a>
      </li>
    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

