<div class="container content">
  <h2>Skills Overview</h2>

  <div class="card">
    <div class="card-body">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">

          <div class="md-form">
            <input type="search" [(ngModel)]="skillSearch" id="search" class="form-control" mdbInputDirective [mdbValidate]="false">
            <label for="search">Search</label>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!--Table-->
      <table class="table">

        <!--Table head-->
        <thead>
        <tr>
          <th>#</th>
          <th class="th-lg">Name</th>
          <th class="th-lg">Level</th>
          <th class="th-lg">Interest</th>
          <th class="th-lg d-none d-lg-block">Level vs Interest</th>
          <th class="th-lg number">SkillTrend Score</th>
          <th class="th-lg">SkillTrend</th>
          <th class="th-lg number">SkillTrend %</th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
        <tr *ngFor="let skillOverview of search(); index as i">
          <th scope="row">{{i+1}}</th>
          <td class="skill-name">
            <a routerLink="/skill-detail/{{skillOverview.skill.name}}">
              <span>{{skillOverview.skill.name}}</span>
            </a>
          </td>
          <td class="level"><strong>{{skillOverview.skill.getLevel()}}</strong></td>
          <td class="interest"><strong>{{skillOverview.skill.getInterest()}}</strong></td>
          <td class="d-none d-lg-block">
            <div class="progress">
              <div class="progress-bar progress-bar-level" role="progressbar" [style.width.%]=buildProgressBarLevel(skillOverview.skill) aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-interest" role="progressbar" [style.width.%]=buildProgressBarInterest(skillOverview.skill) aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td class="number">{{skillOverview.skill.calculTrendAverage()}}</td>
          <td>
            <div class="chart">
              <canvas mdbChart
                      [chartType]='skillOverview.chart.type'
                      [datasets]="skillOverview.chart.datas"
                      [labels]="skillOverview.chart.labels"
                      [options]="skillOverview.chart.option"
                      [colors]="skillOverview.chart.colors"
                      [legend]="false">
              </canvas>

            </div>
          </td>
          <td [style.color]="getColorPercentTrend(skillOverview)" class="number">
            {{getPercentTrend(skillOverview)}}
          </td>
        </tr>

        </tbody>
        <!--Table body-->

      </table>
      <!--Table-->

    </div>
  </div>
</div>
