<h2>Skins Overview</h2>

<div class="chart container-fluid">
    <canvas mdbChart
        [chartType]="chartSkinTrend.type"
        [datasets]="chartSkinTrend.datas"
        [labels]="chartSkinTrend.labels"
        [colors]="chartSkinTrend.colors"
        [options]="chartSkinTrend.option"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
</div>

<div class="chart container-fluid">
  <canvas mdbChart
          [chartType]="chartSkinLevelInterest.type"
          [datasets]="chartSkinLevelInterest.datas"
          [labels]="chartSkinLevelInterest.labels"
          [options]="chartSkinLevelInterest.option"
          [colors]="chartSkinLevelInterest.colors"
          [legend]="true"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
</div>

